<%- include ('nav.ejs') %>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col">Discription</th>
      <th scope="col">User Id</th>
    </tr>
  </thead>
  <tbody>
    <% let cnt = 1;
      if(msg) {%>
    <tr>
      <th>
        <center scope=""><%= msg %></center>
      </th>
    </tr>
    <%} else {
        for(let i= 0; i < post.length; i++) {%>
    <tr>
      <th scope="row"><%= cnt %></th>
      <td><%= post[i]._id %></td>
      <td><%= post[i].title %></td>
      <td><%= post[i].discription %></td>
      <td><%= post[i].uid %></td>
    </tr><% cnt++;
        }
      }%>
  </tbody>
</table>
</body>

</html>